Stuttgart 5: In case of multiple redirect_to_web is request_uri unique each time?

5. In the case of multiple redirect_to_web interactions, does the IAE return fresh request_uri values or always return the same request_uri? For comparison, Section 4 of RFC 9126 (Authorization Request) states: "[...] the client MUST only use a request_uri value once. Authorization servers SHOULD treat request_uri values as one-time use but MAY allow for duplicate requests due to a user reloading/refreshing their user agent."
