Locale handling and matching in display metadata is not defined

Hello, 

Currently no standard explicitly defines how the locale is to be selected and handled when dealing with with display metadata.

In standards like TS12 display metadata is required to be part of the proof generated by the transaction so we had to define locale selection based on [RFC4647] Section 3.4 for it to be universal and deterministic, with the entry having no locale defined being the default one. If no array elements match the wallet locale it must stop processing/refuse issuance or otherwise refuse the display. 

Since VCI is the standard defining display metadata, would you be interested in defining the locale selection for display metadata in the standard to avoid ecosystem contradiction if other standards need a defined selection alg as well ?

Are you asking for specific rules how the wallet should behave in regards to locale, especially if supported ones are absent,
or are you asking for a way to request specific languages from the issuer?

For the first option:
I do not believe OpenID4VCI is the correct layer for such a description/policy. OpenID4VCI defines how to convey metadata with locale support, but it s not the layer to make ecosystem specific decisions on wallet behaviour imho.

For the second option:
[Section 12.2.2](https://openid.github.io/OpenID4VCI/openid-4-verifiable-credential-issuance-1_0-wg-draft.html#section-12.2.2) defines using `accept-language` in the HTTP request to filter metadata:

> The Wallet is RECOMMENDED to send an Accept-Language header in the HTTP GET request to indicate the language(s) preferred for display. It is up to the Credential Issuer whether to:
> 
> - send a subset the metadata containing internationalized display data for one or all of the requested languages and indicate returned languages using the HTTP Content-Language Header, or
> - ignore the Accept-Language Header and send all supported languages or any chosen subset.
> 
> The language(s) in HTTP Accept-Language and Content-Language Headers MUST use the values defined in [[RFC3066](https://openid.github.io/OpenID4VCI/openid-4-verifiable-credential-issuance-1_0-wg-draft.html#RFC3066)].
> 
> Below is a non-normative example of a Credential Issuer Metadata request:
> 
> ```
> GET /.well-known/openid-credential-issuer HTTP/1.1
> Host: server.example.com
> Accept-Language: fr-ch, fr;q=0.9, en;q=0.8, de;q=0.7, *;q=0.5
> ```


Hi, Thanks for your feedback, i'm closing the issue in that case. 

It was about defining a deterministic standard for locale selection in metadata once it has been fetched from the server.

The accept language header will be used if we continue basing ourselves on the metadata.