Lifetime of an Authorization Code / Pre-Authorized Code

### Imported from AB/Connect bitbucket:  https://bitbucket.org/openid/connect/issues/2046
### Original Reporter: fabian-hk

Section 6.3 of the OIDC4VCI spec introduces the `authorization_pending` error response, which means that the wallet must use polling to see when the issuer is ready to issue the credential. This means that the authorization code is long-lived, which is against the recommendation in RFC 6749 section 10.5. The same goes for the pre-authorized code, but there the problem is even worse because it can be easily leaked since the credential offer typically uses a custom scheme or the user posts the QR code on their social media thinking the transaction is complete when in fact it is not. I think the lifetime of the authorization code and the pre-authorized code should be as short as possible to improve security. Also, this mechanism is sort of a duplicate of the idea of the deferred credential endpoint, which makes the implementation more complex without adding any functionality.

We have the authorization pending in the spec to allow implementations to issue an access token in the very moment the authorization has been processed (which is the standard OAuth philosophy). Issuing an access token that is not fully authorized can create all sorts of problems since the authorization associated with the access token will vary. 

Deferred issuance is intended to be used in situations where the issuance is approved but the issuer needs more time to collect the data and mint the credentials. I'm not sure deferred authorization can be folded into deferred issuance, but if implementers confirm that, I'm absolutely fine with dropping deferred authorization. 

On the original issue: what would we consider an acceptable lifetime? In the end there is a co-relation between entropy of the code and acceptable lifetime, right? Plus, we have PKCE or user_pin to further protect the authorization code from replay. So what is the severity of the issue?

One problem I see is that the pre-auth code is only protected by PKCE. When the token request leaks (e.g., through a log file in a TLS-terminating reverse proxy) and the code is not invalidated (because it cannot be redeemed yet), the attacker has both time and all information needed to repeat this request. 

This is less protection than the auth code in a normal flow has, as there the request usually suceeds and the attacker cannot just repeat the request.

This is also considerably less protection than DPoP or MTLS provide for an access token.

Shall we introduce a new kind of token (grant type) that is used to fetch the result later? This token could be issued via the TLS protected channel, it could even be key bound. 

That seems like an enormous effort for something that could just be folded into deferred issuance. That will be easier to explain, re-uses existing features, causes barely any extra overhead on the client, and has existing coverage by the security analysis. 

> Once the access token is issued, the token is good for getting the respective credentials.

Isn't this just a matter of perspective? Why wouldn't it be possible to use deferred issuance to address the deferred authorization use case?

With some trepidation given I don't believe I have the full context from what's documented here ... Could not the issuer issue an access token with an authorization of just 'pending issuance' and then leverage OAuth Step-Up to trigger the final flow when whatever is pending completes? This would keep the lifetime of the authorization_code short and allow for DPoP binding the access token. In fact, the issuer could even restrict the access token to just the resource for checking pending authorization.  Is OAuth Step-Up not practical in this context? If it's not practical feel free to ignore this comment :) 

> Isn't this just a matter of perspective? Why wouldn't it be possible to use deferred issuance to address the deferred authorization use case?

I agree too, I dont see any usecases that can't be solved for via deferred issuance.

The `authorization_pending` is indisputably not the right mechanism to address the deferred issuance but it hasn't been the intention of including it in the spec too. They enable decoupled authorization, so we should ask ourselves a question whether there are reasons to keep the decoupled authorization in this spec. 

Sending otps/pins over email or mobile is a simple way of addressing the deferred authorization problem, but it also comes with its own security and ux challenges. 

There are two (perhaps imaginary) use cases that come to my mind that could require that the decoupled authorization:
- Issuance of a credential to a wallet located on a device with limited input with no use of pins/otps,
- Issuance of a credential on demand, with no use of otp. e.g. user or someone on their behalf triggers the issuance and the user has short time-window to authorize the issuance on their phone.

If these use cases are valid, then I would rather think on how to improve the decoupled authorization section. Perhaps we should not restrict have there support for the poll model. Perhaps we should not refer the device flow, which can make a reader fell that the intention is to support devices with limited input.

WG mtg: agreed to ask if anyone has implemented this feature and if not, there is an agreement to remove this feature.

**If you have implemented this feature, please comment on this issue within a week.**

Email proposing removal of this feature sent to mailing list too: https://lists.openid.net/pipermail/openid-specs-digital-credentials-protocols/Week-of-Mon-20240415/000278.html
