Explain how the key to be bound to credential is accepted in Credential Request

Please explain how credential issuer accepts the key provided in proof parameter - should any public key be accepted? Lets assume that the authorization server and credential issuer are separate entities.

I try to explain the question further by [Italy's EUDI Wallet implementation profile](https://italia.github.io/eudi-wallet-it-docs/versione-corrente/en/pid-eaa-issuance.html#credential-request). 

There the key in proof parameter is **required** to be the same as the key used in sender constrained access token DPoP. This binds the Access Token to a certain Wallet Instance and mitigates the misuse of leaked or stolen Access Tokens at the Credential Endpoint and also binds the issued credential to the access token. 

They also use [OAuth 2.0 Attestation-Based Client Authentication](https://vcstuff.github.io/draft-ietf-oauth-attestation-based-client-auth/draft-ietf-oauth-attestation-based-client-auth.html) where Wallet Instance Attestation is used as Client Attestation JWT. This means that the AS can be sure that the authorization request is coming from valid Wallet and the key used Client Attestation PoP JWT is bound to the wallet (and provably secured by Android/iOS hardware using key attestation when wallet requests the issuance of Wallet Instance Attestation). 

Although PAR/Token endpoints are protected by Attestation-Based Client Authentication using Wallet Instance Attestation + PoP, the key used to bind access token is not provably bound to the wallet instance and therefore key used to bind the issued credential is also not provably bound to the wallet instance. [EUDI ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/arf.md#6321required-trust-relationships) requires that it should be.

**So my question is how can Credential Issuer, that is a separate entity from AS, verify that the key provided in Credential Request proof is allowed to be used to bind the issued credential?**

If in Italy's implementation the key used in access token DPoP would be required to be the same as in Wallet Instance Attestation and the Credential Issuer were to be required to check if key provided in proof parameter is the same as access token DPoP by the OpenID4VP spec then the binding to the wallet instance would be provable.

cc: @peppelinux 

> Please explain how credential issuer accepts the key provided in proof parameter - should any public key be accepted? Lets assume that the authorization server and credential issuer are separate entities.

In the vanilla VCI specification, yes, I believe any key should be accepted. My understanding is that for some cases the fact that the proof key is presented with a valid access token is sufficient.

> If Italy's implementation the key used in access token DPoP would be required to be the same as defined in Wallet Instance Attestation and the Credential Issuer were to be required to check if key provided in proof is the same as access token DPoP by the OpenID4VP spec then the binding to the wallet instance would be provable.

I am struggling to understand why things the Italian profile of the spec requires results in a need to change OpenID4VP to describe how to implement those changes. I'm not convinced it would make sense for OID4VCI to restrict the DPoP & Credential PoP key to being the same, I have a feeling there may be architectures where it makes sense for them to be different keys.

> I am struggling to understand why things the Italian profile of the spec requires results in a need to change OpenID4VP to describe how to implement those changes. I'm not convinced it would make sense for OID4VCI to restrict the DPoP & Credential PoP key to being the same, I have a feeling there may be architectures where it makes sense for them to be different keys.

The Italian profile does not require the change of OpenID4VP - it was my suggestion just to understand which specification should enforce how key should be accepted for binding. As you suggested the OpenID4VP does not require this and instead should be enforced by [EUDI ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/arf.md#6321required-trust-relationships).

@aarmam 

> Although PAR/Token endpoints are protected by Attestation-Based Client Authentication using Wallet Instance Attestation + PoP, the key used to bind access token is not provably bound to the wallet instance and therefore key used to bind the issued credential is also not provably bound to the wallet instance. [EUDI ARF](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/arf.md#6321required-trust-relationships) requires that it should be.

sorry, I don't get this. It seems to me that it was mixed issuance and presentation, since the ARF link points to RP requirements while here we're in the context of VCI.

@jogu

> I'm not convinced it would make sense for OID4VCI to restrict the DPoP & Credential PoP key to being the same, I have a feeling there may be architectures where it makes sense for them to be different keys.

DPoP (Demonstration of Proof of Possession) is required in the Italian implementation profile of OpenID4VCI to enhance security by moving away from bearer tokens, which lack proof of possession. This requirement mitigates security risks by ensuring clients demonstrate control over the corresponding private key of the public key bound to the token.

@jogu's insights on using different keys for JWT proofs highlight the importance of flexibility in digital identity verification. OpenID4VCI's neutral stance on cryptographic methods allows for future technological advancements, making the standard adaptable. This flexibility enables implementation profiles or trust frameworks to tailor their approaches to their specific needs, ensuring the standard's relevance and encouraging broader adoption by accommodating emerging technologies. While for pratical reasons in italy we have  decided to give clear considerations and requirements about this aspect.

@peppelinux cc:@jogu 
> sorry, I don't get this. It seems to me that it was mixed issuance and presentation, since the ARF link points to RP requirements while here we're in the context of VCI.

> 6.3.2.1 Required trust relationships
> 3. The Relying Party SHALL be able to trust that the attestation Provider issued this attestation to the EUDI Wallet Instance that provided it to the Relying Party. In other words, the attestation was not copied and replayed. This is generally called device binding.

Although the following excerpt is under "6.3.2 Attestation releasing" paragraph it actually conveys the requirement that Credential Issuer must guarantee device binding of the issued credential. 

So how does Credential Issuer knows if the key provided in proof parameter is device bound, taking in account that AS and CI are separate entities? Do I read this requirement wrong in a sense that if proof is presented in credential endpoint with valid access token, then this is all that is required for CI to assume the presented key is device bound?

OpenID4VCI has an option to use authorization_details parameter defined by [Section 2 of RFC9396](https://www.rfc-editor.org/rfc/rfc9396.html#name-request-parameter-authoriza). The same specification could be used to convey [authorization_details in token endpoint](https://www.rfc-editor.org/rfc/rfc9396.html#name-token-request) to specify the authorization details that a client wants the AS to assign to an access token. For example credential_jkt parameter could be introduced to force CI to accept proofs that match credential_jkt claim in access token.

OpenID4VCI states that
> The Client can request issuance of a Credential of a certain type multiple times, e.g., to associate the Credential with different public keys/Decentralized Identifiers (DIDs) or to refresh a certain Credential

This could be achieved using refresh token in combination with authorization_details to specify updated value of credential_jkt.





@aarmam thank you for the clear questions and references to the text.

> "6.3.2 Attestation releasing" paragraph it actually conveys the requirement that Credential Issuer must guarantee device binding of the issued credential.

satisfied by taking the key contained in the `jwt_proof` and using it in the issued credential, as it is with sd-jwt using `cnf.jwk`

> So how does Credential Issuer know if the key provided in proof parameter is device bound

open question. In my architectural view I would not give the burden to the VCI to check these details about the wallet instance, because I'm more in favor on a transitive trust where the VCI trusts the wallet provider that has checked within its wallet solution that the wallet instance is compliant in the way it requests, stores and presents credentials.

there may be some updates in the future where the jwt_proof could be enriched by additional evidences about proof of association of the key with the security cryptographic devices that securely stores it. Time will show us. At this stage, the trust is transitive therefore you have to establish the trust with the wallet provider that attests the security of the wallet instance under its responsibility.

What's the purpose of the credential_jkt and the definition of jkt?

@peppelinux 
> satisfied by taking the key contained in the jwt_proof and using it in the issued credential, as it is with sd-jwt using cnf.jwk

So If I understand you correctly the CI accepts anyone, presenting valid access token in credential issuance endpoint, to bind any key to the issued credential? Isnt that a security issue?

> open question. In my architectural view I would not give the burden to the VCI to check these details about the wallet instance, because I'm more in favor on a transitive trust where the VCI trusts the wallet provider that has checked within its wallet solution that the wallet instance is compliant in the way it requests, stores and presents credentials.

I agree with you here, that CI should not have to evaluate if the key is device bound and should trust the wallet provider. The question is how is the trust in wallet provider done exactly? At the credential endpoint CI only has a access token and the proof - thats all the info it has and currently this implies that CI should trust anyone presenting the access token to bind any key presented in proof. I think this solution open for exploitation.

> What's the purpose of the credential_jkt and the definition of jkt?

The name and intention is similar to [RFC 9449 dpop_jkt parameter](https://datatracker.ietf.org/doc/html/rfc9449.html#dpop_jkt), that you use also for sender-constrained access tokens, that can be used to bind the issued authorization code to a specific key. Similar option would be to present credential_jkt in authorization_details parameter in token endpoint so that AS would be required to include it in access token that inturn would require the CI to verify that the key thumbprint in credential_jkt matches the key thumbprint in proof parameter.


@aarmam 

> the CI accepts anyone, presenting valid access token in credential issuance endpoint, to bind any key provided in proof to the issued credential? Isnt that a security issue?

Not anyone but the ones to which it has issued an access token, where both the authz and the token endpoint are protected by a client authentication (in my context attestation based client authentication, where the WIA si presented to the CI with a PoP). In my context the access token is a DPoP as well.

> I agree with you here, that CI should not have to evaluate if the key is device bound and should trust the wallet provider.

this is not small!

> The question is how is the trust in wallet provider done exactly?

The answer is how the token was provided (by authenticating the wallet, by checking its compliance through the trust establishment with the wallet provider) and how the token can be used (Bearer vs. DpoP).

You know my choice: WIA+WIA~PoP for authenticating the client, and DPoP Access Token

@peppelinux 

> Not anyone but the ones to which it has issued an access token, where both the authz and the token endpoint are protected by a client authentication (in my context attestation based client authentication, where the WIA si presented to the CI with a PoP). In my context the access token is a DPoP as well.

Even if the access token is sender-constrained isnt there an attack vector to switch the proof object in the credential endpoint when physical access to phone is available for the attacker?

Italy's implementation profile states that the jwtr proof [The jwk value MUST be equal to the same public key that is generated for the DPoP.](https://italia.github.io/eudi-wallet-it-docs/versione-corrente/en/pid-eaa-issuance.html#credential-request) So the key that can be used in proof is enforced by the access token DPoP by the CI in credential endpoint? Can you confirm this?

@aarmam I confirm. At the same time that approach raises an important privacy concern when the same access token is used for the issuance of multiple credentials, because it makes them linkable. Therefore: it is good for the isaunce of a single credential, it is not good for the issuance of multiple credentials.

For this reason we're on this PR: https://github.com/italia/eudi-wallet-it-docs/pull/267/files

Feel free to join in the discussion and review

>  At the same time that approach raises an important privacy concern when the same access token is used for the issuance of multiple credentials, because it makes them linkable. 

Thats why I suggested to use credential_jkt as explained in my [previous comment](https://github.com/openid/OpenID4VCI/issues/292#issuecomment-2063945731)

In conclusion I think I have answer to my questions - vanilla OpenID4VP allows any key provided in proof to be bound to the issued credential and it is up to the implementors to add additional constrains.
Thanks!

Closing this issue as ARF 1.4 defines Wallet Trust Evidence that resolves the issue discussed here.